{% extends 'base.html' %}

{% block title %}我的工具库{% endblock %}

{% block content %}
<div class="container mt-4">

    <!-- 内部工具展示区 -->
{#    <h2 class="text-center mb-4">全部工具</h2>#}
    <!-- 创建一个统一的按钮容器 -->
    <div class="d-flex justify-content-center flex-wrap gap-3">

        <!-- 只循环 all_home_links 这一个列表 -->
        {% for link in all_home_links %}
            {% if link.name != '首页' %}
                {# 判断是否是外部链接，如果是，则在新窗口打开 #}
                {% set target_blank = 'target="_blank" rel="noopener noreferrer"' if 'http' in link.url else '' %}

                <a href="{{ link.url }}" class="btn btn-primary" {{ target_blank | safe }}>
                    {{ link.name }}
                </a>
            {% endif %}
        {% endfor %}

    </div>

</div>
{% endblock %}
