{% extends 'base.html' %}

{% block title %}Python程序管理系统{% endblock %}

{% block content %}
<h1>管理自己的Python小程序</h1>
<p>点击运行自己的Python程序</p>

<div class="button-container">
    <a href="{{ url_for('run_program', program_name='闲鱼_学习机_文案1') }}" class="btn">运行_闲鱼_学习机_文案1</a>
    <a href="{{ url_for('run_program', program_name='闲鱼_学习机_文案2_王') }}" class="btn">运行_闲鱼_学习机_文案2_王</a>
    <a href="{{ url_for('run_program', program_name='闲鱼学习机文案_好好学习') }}" class="btn">闲鱼学习机文案_好好学习</a>
    <a href="{{ url_for('run_淘宝分享链接转真实URL_route') }}" class="btn">淘宝分享链接转真实URL</a>
    <!-- 添加更多按钮 -->
</div>
{% endblock %}
