<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>在线字数统计工具</title>
    <link rel="stylesheet" href="https://www.eteste.com/mystyles.css">
</head>
<body>
<section class="hero" style="height: auto !important;">
    <div class="hero-body" style="height: auto !important;">
        <div class="container" style="height: auto !important;">
            <div class="columns" style="height: auto !important;">
                <div class=" column">
                    <div class="field is-horizontal is-info">
                        <div class="field-body is-info">
                            <div class="field">
                                <div class="control">
                                    <textarea class="textarea is-focused" placeholder="输入(或粘贴)统计字数的内容:"
                                              rows="12" id="content" autofocus=""></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttons is-right">
                        <button class="button is-primary  is-rounded is-small" type="reset" value="reset" name="reset"
                                onclick="resetForm()">全部清空!
                        </button>
                    </div>
                    <div class="field is-grouped is-grouped-multiline" id="copyArea"><span
                            class="tag is-medium"> 共计： </span>
                        <div class="control">
                            <div class="tags has-addons"><span class="tag is-dark is-medium" id="zishu">0</span> <span
                                    class="tag is-primary is-medium">个字数</span></div>
                        </div>
                        <div class="control">
                            <div class="tags has-addons"><span class="tag is-dark is-medium" id="zifu">0</span> <span
                                    class="tag is-primary is-medium">个字符</span></div>
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-multiline"><span class="tag"> 包含： </span>
                        <div class="control">
                            <div class="tags has-addons"><span class="tag" id="hanzi">0</span> <span
                                    class="tag is-danger is-light">个汉字</span></div>
                        </div>
                        <div class="control">
                            <div class="tags has-addons"><span class="tag" id="biaodian">0</span> <span
                                    class="tag is-info is-light">个标点(全角)</span></div>
                        </div>
                        <div class="control">
                            <div class="tags has-addons"><span class="tag" id="zimu">0</span> <span
                                    class="tag is-success is-light">个字母</span></div>
                        </div>
                        <div class="control">
                            <div class="tags has-addons"><span class="tag" id="shuzi">0</span> <span
                                    class="tag is-warning is-light">个数字</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function $(id) {
        return document.getElementById(id);
    }

    var EventUtil = function () {
    };
    EventUtil.addEventHandler = function (obj, EventType, Handler) {
        if (obj.addEventListener) {
            obj.addEventListener(EventType, Handler, false);
        } else if (obj.attachEvent) {
            obj.attachEvent('on' + EventType, Handler);
        } else {
            obj['on' + EventType] = Handler;
        }
    }
    if ($("content")) {
        EventUtil.addEventHandler($('content'), 'propertychange', CountChineseCharacters);
        EventUtil.addEventHandler($('content'), 'input', CountChineseCharacters);
    }

    function showit(Word) {
        alert(Word);
    }

    function CountChineseCharacters() {
        Words = $('content').value;
        var W = new Object();
        var Result = new Array();
        var iNumwords = 0;
        var sNumwords = 0;
        var sTotal = 0;
        var iTotal = 0;
        var eTotal = 0;
        var otherTotal = 0;
        var bTotal = 0;
        var inum = 0;
        for (i = 0; i < Words.length; i++) {
            var c = Words.charAt(i);
            if (c.match(/[\u4e00-\u9fa5]/)) {
                if (isNaN(W[c])) {
                    iNumwords++;
                    W[c] = 1;
                }
                iTotal++;
            }
        }
        for (i = 0; i < Words.length; i++) {
            var c = Words.charAt(i);
            if (c.match(/[^\x00-\xff]/)) {
                if (isNaN(W[c])) {
                    sNumwords++;
                }
                sTotal++;
            } else {
                eTotal++;
            }
            if (c.match(/[0-9]/)) {
                inum++;
            }
        }
        $('hanzi').innerText = iTotal;
        $('zishu').innerText = inum + iTotal;
        $('biaodian').innerText = sTotal - iTotal;
        $('zimu').innerText = eTotal - inum;
        $('shuzi').innerText = inum;
        document.getElementById("zifu").innerHTML = iTotal * 2 + (sTotal - iTotal) * 2 + eTotal;
    }
</script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });

        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });

    function resetForm() {
        document.getElementById("content").value = "";
    }
</script>
<noscript>
    Sorry, your browser does not support JavaScript!
</noscript>
</body>

</html>